.about-me-simple {
    background-color: #8B0000;
    color: whitesmoke;
    max-width: 500px;
    margin: 30px auto 10px auto;
    padding: 20px 20px;
    border-radius: 10px;
    font-family: "consolas", sans-serif;
    text-align: left;
}

.about-me-img-simple {
    text-align: center;
    margin-bottom: 30px;
}

.profile-img-simple {
    display: inline-block;
    max-width: 200px;
    width: 100%;
    height: auto;
    max-height: 200px;
    border-radius: 10px;
    margin-top: 10px;
}

.my-coding-journey-simple {
    text-align: center;
    background-color: #161A1D;
    color: whitesmoke;
    max-width: 500px;
    margin: 30px auto 10px auto;
    padding: 20px 20px;
    border-radius: 10px;
    font-family: "consolas", sans-serif;
    text-align: justify, center;
    margin-bottom: 30px;
}

.my-projects-simple {
    background-color: #8B0000;
    color: whitesmoke;
    max-width: 500px;
    margin: 30px auto 10px auto;
    padding: 20px 20px;
    border-radius: 10px;
    font-family: "consolas", sans-serif;
    text-align: left;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
}

.intro-simple {
    background-color: #161A1D;
    text-align: left;
    max-width: 500px;
    margin: 30px auto 10px auto;
    padding: 20px 20px;
    font-family: "consolas", sans-serif;
    border-radius: 10px;
    color: whitesmoke;
}

.intro-pic-simple {
    text-align: center;
    margin-bottom: 10px;
}

.profile-img-simple {
    display: inline-block;
    max-width: 200px;
    width: 100%;
    height: auto;
    max-height: 200px;
    border-radius: 10px;
    margin-top: 10px;
}

.techstack-simple {
    text-align: center;
    margin: 30px auto 60px auto;
}

.techstack-img-simple {
    max-width: 70px;
    height: auto;
    border-radius: 5px;
    margin: 10px 10px;
    display: inline-block;
    background-color: #343739;
}

.profile-img {
    display: block;
    max-width: 300px;
    width: 100%;
    height: auto;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 18px;
    font-family: inherit;
}

.title-my-coding-journey {
    text-align: center;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 70px;
    padding: 10px 0;
    font-size: 2rem;
}

.title {
    text-align: center;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px 0;
    font-size: 2rem;
}

.header {
    background-color: #8B0000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
}

.header a {
    padding: 10px 10px;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}

.header a:hover {
    color: black;
    background: #fff;
    padding: 10px 10px;
}

.left_links {
    margin: 0;
    padding: 0;
}

.right_links {
    margin: 0;
    padding: 0;
    text-align: right;
}

.right_links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.right_links li {
    display: inline-block;
    margin: 10px;
}

.weblinks {
    display: inline-block;
    margin: 10px;
}

.social-icon {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    vertical-align: middle;
    cursor: pointer;
}

.socials {
    display: flex;
    justify-content: center;
    background-color: #8B0000;
}

.div-eerie-black {
    padding: 2px;
    background-color: #161A1D;
    width: auto;
}

.ts {
    padding: 2px;
    background-color: #161A1D;
    width: auto;
}